.button{
    background-color: dodgerblue;
            border: none;
            padding: 15px;
            width: 10%;
            border-radius: 10px;
            color: white;
            font-size: 10px;
            transition: box-shadow .6s ease-in;
    
}

.button.blue{
    background-color: #1FB6FF;
}

button.green{
    background-color: #13CE66;
}

button.red{
    background-color: #FF4949;
}

button.yellow{
    background-color: #ffee91;
    color: black;
}

button.darkGray{
    background-color: rgb(73, 68, 68);
    color: white
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}

button.small{
    margin-left: 47%;
    font-size: 1.3rem;
    height: 10%;
    width: 6.5%;
    padding: 5px 8px;
}

@media(max-width:480px){
    .button.mobile{
        color:transparent;
        font-size:0;
        width:50px;
        height:50px;
        border-radius: 50%;
        position:fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color:black;
        font-size:2rem;
        width:100%;
        height:100%;
    }
}