.div{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    
}

.div input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 20%;
}

.div button{
    background-color: rgb(107, 102, 102);
            border: none;
            padding: 15px;
            width: 100%;
            border-radius: 10px;
            color: white;
            font-size: 10px;
            transition: box-shadow .6s ease-in;
}

.div select{
    text-align: center;
    color:black;
    width: 100%;
    max-width: 10rem;
    margin: 1rem auto;
    position: relative;
    color: rgb(58, 57, 57);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 4px;
}

.selectRight{
    left: 9%;
}

.div button:hover{
    box-shadow: inset 500px 0 0 #00000055;
}

.div label{
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin-top: -0.4%;
    margin-left: -10%;
    margin-right: -10%;
    /* margin-top: -0.24em; */
    background-color: #ff1f1f;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* left: 5%; */
    /* transform: translate(-5%,0%); */
    text-align: center;
}

.footer{
    text-align: center;    
}

.records{
    width: 100%;
    user-select: none;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 60px;
    background-color: #ff1f1f;
    border-radius: 10px;

}

.records th{
    height: 50px;
    /* background-color: var(--primary-color); */
    
    padding-left: 0px;
    font-size: 1.2rem;    
}

.records.white{
    background-color: #ffffff;
    line-height: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}


.centerButtons button{
    margin-left: 5.5%;
    width: 18%;
    user-select: none;
    text-align: center;
    font-family: fantasy;
    line-height: 60px;
    font-size: larger;
    background-color: #A3C9CC;

    border-radius: 10px;
    border-style: none;
    transition: box-shadow .6s ease-in;
}
.centerButtons button:hover{
    box-shadow: inset 500px 0 0 #00000055;
}

.form{
    
    /* box-shadow: 2px 2px 10px var(#CCC); */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 0%; */
    margin: 5vh auto;
    gap: 5px;
}



