.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin-top: -0.4%;
    /* margin-top: -0.24em; */
    background-color: #1FB6FF;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
    font-family: fantasy;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translate(-5%,0%);
    text-align: center;
}

.footer{
    text-align: center;    
}